$orange: #D87D4A;
$warmblack: #101010;
$gray: #F1F1F1;
$darkwhite: #FAFAFA;
$corai: #FBAF85;
$white: #FFFFFF;
$black: #000000;
$borderwithopacity:  rgba(255, 255, 255, 0.2);
$darkgray:#4C4C4C;
$blackwithopacity:rgba(0, 0, 0, 0.5);