@import 'base';
@import 'colors';
@import 'spacings';
@import 'typography';
@import 'buttons';
@import 'mixins';

header{
    width:1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid $borderwithopacity;
    position: relative;
    padding-bottom: 36px;
    padding-top: 32px;
    ul{
        margin:0;
        width: 430px;
        padding: 0;
        list-style: none;
        display: flex;
        li{
            display: inline;
            margin:0;
            &:not(:last-of-type){
                margin-right: 34px;
            }
        }
    }
    .headerbuttons{
        display:flex;
        align-items: center;
        justify-content: space-around;
        width: 90px;
        height: 25px;
        
    }
    button{
        background:none;
        border:none;
        padding:0;
        cursor:pointer;
        &:first-of-type{
            width:21px;
            height:20px;
        }
        &:nth-of-type(2){
            width:23px;
            margin-right: 2.8px;
        }
        &:nth-of-type(3){
            width:20px;
        }
    }
}

.headerpart {
    background-color:$black;
    background-position: center;
    width: 1440px;
    height: 336px;  
    
    h2{
    //    background-color: red;
       width: 283px;
       height: 44px;
       margin:0 auto;
       margin-top:98px;

    }
}

.headphonetypes{
    .container{
        display: flex;
        flex-direction: column;
        gap:160px;
    }
    article{
        width:1110px;
        display: flex;
        gap:125px;
        img{
            width:540px;
            height: 560px;
            border-radius: 8px;
        }
        h2{
            color:$black;
        }
    }
    .product1{
        // height: 560px;
        // background-color: pink;
        margin-top: 160px;
        .description {
            align-self: center;
            width: 445px;
            .overline{
                margin-bottom:16px;
            }
            h2{
                margin-bottom: 32px;
            }
            p{
                opacity: 1;
                &:nth-of-type(2){
                    margin-bottom:40px;
                    opacity: 0.5;

                }
                
            }
        }
    }
    .product2and3{
        .description{
            align-self: center;
            width: 445px;
            h2{
              margin-bottom:32px;
              height: 88px;
            }
            p{
                opacity:0.5;
                margin-bottom:40px;
            }
        }
    }
    
    .about{
        height: 588px;
        display: flex;
        gap:125px;
        margin-bottom: 160px;
        img {
            border-radius: 8px;
            height: 588px;
        }
        .text {
            width: 445px;
            height: 295px;
            align-self: center;
            h2 {
                color: $black;
            }
            p {
                margin-top:32px;
                opacity: 50%;
                color: $black;
            }
        }
        .span {
            color: $orange;
        }
    }
    @include productsbar;
}

@include footerstyle;