@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 1440px;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0;
  padding: 0 165px;
  max-width: 1440px;
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #FFFFFF;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  color: #FFFFFF;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  font-weight: 700;
}

h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-size: 18px;
  line-height: 24.6px;
  letter-spacing: 1.29px;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
}

.overline {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
  margin: 0;
  opacity: 0.5;
}

.subtitle {
  font-family: "Manrope", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

header li, footer li {
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 25px;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 1440px;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0;
  padding: 0 165px;
  max-width: 1440px;
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #FFFFFF;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  color: #FFFFFF;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  font-weight: 700;
}

h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-size: 18px;
  line-height: 24.6px;
  letter-spacing: 1.29px;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
}

.overline {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
  margin: 0;
  opacity: 0.5;
}

.subtitle {
  font-family: "Manrope", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

header li, footer li {
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 25px;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  width: 160px;
  height: 48px;
  border: none;
}

.button1 {
  background-color: #D87D4A;
  border: none;
  color: #FFFFFF;
}

.button3 {
  width: 57.32px;
  height: 18px;
  border: none;
  color: #000000;
  background: none;
  background-image: url("../assets/shared/desktop/icon-arrow-right.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 8px 10px;
}
.button3 p {
  opacity: 0.5;
  margin-right: 13.32px;
  height: 18px;
  font-weight: 700;
  line-height: 17.76px;
}

.button2hover {
  background-color: #000000;
  color: #FFFFFF;
}

.button2default {
  background: none;
  border: 1px solid #000000;
}

header {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  padding-bottom: 36px;
  padding-top: 32px;
}
header ul {
  margin: 0;
  width: 430px;
  padding: 0;
  list-style: none;
  display: flex;
}
header ul li {
  display: inline;
  margin: 0;
}
header ul li:not(:last-of-type) {
  margin-right: 34px;
}
header .headerbuttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90px;
  height: 25px;
}
header button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
header button:first-of-type {
  width: 21px;
  height: 20px;
}
header button:nth-of-type(2) {
  width: 23px;
  margin-right: 2.8px;
}
header button:nth-of-type(3) {
  width: 20px;
}

.headerpart {
  background-color: #000000;
  background-position: center;
  width: 1440px;
  height: 336px;
}
.headerpart h2 {
  position: absolute;
  bottom: 97px;
  right: 578px;
  width: 283px;
  height: 44px;
}/*# sourceMappingURL=categories.css.map */