@import 'base';
@import 'colors';
@import 'spacings';
@import 'typography';
@import 'buttons';
@import 'mixins';

header {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $borderwithopacity;
    padding-bottom: 36px;
    padding-top: 32px;

    ul {
        margin: 0;
        width: 430px;
        padding: 0;
        list-style: none;
        display: flex;

        li {
            display: inline;
            margin: 0;
            &:hover{
                color:$orange;

            }

            &:not(:last-of-type) {
                margin-right: 34px;
            }
        }
    }

    .headerbuttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90px;
        height: 25px;
    }

    button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        &:first-of-type {
            width: 20px;
            // height: 20px;
        }

        &:nth-of-type(2) {
            width: 23px;
            margin-right: 2.8px;
        }

        &:nth-of-type(3) {
            width: 20px;
        }
        img{
            &:hover{
            padding-bottom: 5px;
            border-bottom:1px solid $orange;
            }
        }
    }
}

.hero {
    background-image: url('../assets/home/desktop/image-hero.jpg');
    background-position: center;
    border-radius: 8px;
    width: 1440px;
    height: 729px;
}

.newproduct {
    width: 398px;
    height: 346px;
    position: absolute;
    top: 225px;
    left: 165px;
    p {
        &.overline{
             position: absolute;
            top: 0;
            color:$white;
        }

        &.experience {
            opacity: 0.75;
            margin: 0;
            position: absolute;
            top: 183px;
            right: 49px;
            color:$white;
        }
    }

    h1 {
        position: absolute;
        color: $white;
        margin: 0;
        top: 43px;
        right: 0.5%;
        left: 0%;
    }

    button {
        position: absolute;
        bottom: 0;
    }
}

.part1 {
    height: 572px;
    @include productsbar;
    .box{
        margin-top: 120px;
    }

    // .productsbar {
    //     display: flex;
    //     gap: 30px;

    //     .box {
    //         width: 350px;
    //         height: 284px;
    //         margin-top: 120px;
    //         position: relative;

    //         h6 {
    //             position: absolute;
    //             bottom: 63px;
    //             left: 108.5px;
    //             z-index: 1;
    //             color: $black;
    //         }

    //         img {
    //             width: 210px;
    //             position: absolute;
    //             left: 70px;
    //             top: 24px;
    //             z-index: 1;
    //         }

    //         button {
    //             position: absolute;
    //             z-index: 1;
    //             left: 146px;
    //             bottom: 30px;
    //         }

    //         .graybox {
    //             background-color: $gray;
    //             width: 350px;
    //             height: 204px;
    //             position: absolute;
    //             top: 80px;
    //             border-radius: 8px;
    //         }
    //     }

    //     .box2 {
    //         h6 {
    //             left: 124.5px;
    //         }
    //     }

    //     .box3 {
    //         img {
    //             width: 210px;
    //             height: 190px;
    //         }

    //         h6 {
    //             left: 116px;
    //         }
    //     }
    // }
}

.part2 {
    height: 1496px;

    .container {
        display: flex;
        flex-direction: column;
        gap:48px;
    }

    .speakerZX9 {
        background-color: $orange;
        // width: 1110px;
        height: 560px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            width: 380px;
            height: 463px;
            top: 110px;
            left: 143.49px;
            z-index: 1;
        }

        .speakertext {
            width: 349px;
            height: 303px;
            margin-left: 666px;
            margin-top: 133px;
            position: relative;
            z-index: 1;
            

            h1 {
                width: 261px;
            }

            p {
                width: 349px;
                margin-top: 24px;
                opacity: 0.75;
                font-weight: 400;
                color: $white;
            }

            button {
                margin-top: 40px;
            }
        }
    }
}

.divcircles {
    width: 1259px;
    height: 596px;
    position: absolute;
    left: 16px;
    top: 1265px;
    background-image: url(../assets/home/desktop/pattern-circles.svg);
    background-repeat: no-repeat;
}

.speakerZX7 {
    height: 320px;
    .overlay {
        height: 320px;
        width: 1110px;
        position: absolute;
        background-color: black;
        opacity: 10%;
    }
    img {
        border-radius: 8px;
    }
    h4 {
        position: absolute;
        color: $black;
        top: 2010px;
        left: 260px;
    }

    button {
        position: absolute;
        top:2080px;
        left: 261.5px;
    }
}

.earphonesYX1 {
    display: flex;
    // width: 1110px;
    gap:30px;

    img {
        border-radius: 8px;
    }

    div {
        background-color: $gray;
        width: 540px;
        height: 320px;
        border-radius: 8px;

        h4 {
            color: $black;
            margin-left: 95px;
            margin-top:101px;
        }
        button {
            margin-top:32px;
            margin-left: 96.5px;
        }
    }
}

.part3 {
    height: 588px;
    margin-bottom:200px;

    .about {
        // width: 1110px;
        height: 588px;
        display: flex;
        gap:125px;
        img {
            border-radius: 8px;
        }
        .text {
            width: 445px;
            height: 295px;
            align-self: center;
            h2 {
                color: $black;
            }
            p {
                margin-top:32px;
                opacity: 50%;
                color: $black;
            }
        }
    }
}
.span {
    color: $orange;
}

.footer {
    width: 100%;
    height: 365px;
    background-color: $warmblack;
    .orangeline {
        width: 101px;
        height: 4px;
        background-color: $orange;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 71px;
        nav {
            ul {
                list-style: none;
                display: flex;

                li {
                    display: inline;

                    &:not(:last-of-type) {
                        margin-right: 34px;
                    }
                    &:hover{
                        color:$orange;
                    }
                }
            }
        }
    }
    .footertext {
        width: 540px;
        height: 181px;
        p {
            margin-top:36px;
            opacity: 50%;
            color: $white;

            &:nth-of-type(2) {
                margin-top:56px;
                font-weight: 700;
            }
        }
    }

    .footerbuttons {
        display: flex;
        position: absolute;
        bottom: 136px;
        right: 165px;
        img{
            &:hover{
           color:$orange;
            }
        }

        button {
            width: 24px;
            // height: 24px;
            background: none;
            &:hover{
                 &.svgicons path{
                    fill:$orange;
                 }
                }
            &:not(:last-of-type) {
                margin-right: 16px;
            }
        }
    }
}